
.pageWrapper {
  min-height: 100vh;
  background-color: #F4F5F9;
}

.emailCard {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.halfScreenView{
  width: 30%;
}
.user-avatar {
  background: #2e75ff;
  /* margin: 9px 1px 1px 1px !important; */
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  /* margin-left: 12px; */
  /* margin-right: 12px; */
  color: white;
  text-transform: uppercase;
}

.detailedEmailWrapper {
  position: fixed;
  width: 60%;
  right: 0;
  min-height: 100vh;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #FFF;
}
.emailCardWrapper {
  padding-top: 20px
}